/* ======================== GOOGLE FONTS LINK ======================= */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins&display=swap');

@import "tailwindcss";

@theme {
    --font-google-sans: "Google Sans", sans-serif;

    --color-primary: #00e4d0;

    --breakpoint-xs: 450px;
}

@layer base {

    /* =============================== BASE CLASSES ============================== */
    * {
        @apply m-0 p-0 box-border font-google-sans;
    }

    html {
        @apply scroll-smooth scroll-pt-20;
    }

    header {
        @apply w-full h-14 md:h-18 fixed top-0 left-0 shadow-sm flex items-center bg-white z-90;
    }

    nav {
        @apply w-full max-w-7xl p-4 mx-auto flex justify-between items-center gap-4 sm:gap-8 relative;
    }

    main {
        @apply w-full;
    }

    section,
    footer {
        @apply w-full py-8;
    }

    img {
        @apply w-full h-full object-cover object-center;
    }

}

@layer utilities {
    /* =================================== REUSABLE CLASSES ======================================== */
    .container {
        @apply w-full max-w-7xl max-xs:p-1 xs:p-4 mx-auto;
    }

    /* =================================== HEADER/NAV SECTION REUSABLE CLASSES ======================================== */
    .nav_links a{
        @apply text-lg font-medium transition-colors duration-200 hover:text-primary;
    }

    .nav_links:last-of-type a{
        @apply bg-gray-700 text-white p-[.5rem_1.3rem] w-fit rounded-3xl transition-all duration-200 hover:-translate-y-1 hover:bg-gray-600;
    }

    /* =================================== PRODUCTS SECTION REUSABLE CLASSES ======================================== */
    .category_details{
        @apply flex gap-1 items-center;
    }

    .products_container{
        @apply grid gap-2 xs:gap-4 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
    }

    .product_card{
        @apply grid gap-2 bg-gray-100 rounded overflow-hidden transition-all duration-300 border border-gray-300 hover:border-primary hover:shadow-md;
    }

    .product_img_wrapper{
        @apply w-full aspect-square overflow-hidden bg-red-200
    }

    .product_content{
        @apply mx-2 my-3 grid gap-y-1;
    }

    .product_title{
        @apply sm:text-lg font-semibold text-gray-800;
    }

    .product_brand{
        @apply text-sm text-gray-700 mb-5;
    }

    .product_price{
        @apply text-2xl sm:text-3xl font-extrabold;
    }

    .discount{
        @apply flex gap-2 items-center;
    }

    .discounted_price {
        @apply line-through;
    }

    .dicsounte_percentage{
        @apply text-sm bg-primary px-3 rounded-xl;
    }

    .ratings{
        @apply flex gap-1 items-end;
    }

    .rating_stars i {
        @apply text-yellow-500;
    }

    .ratings_numbers{
        @apply text-xl mb-[-2px];
    }

    .ratings_count {
        @apply text-gray-600 mb-5;
    }

    .delivery_details{
        @apply max-xs:text-sm sm:flex sm:gap-1 sm:items-center;
    }

    .delivery_details p{
        @apply max-xs:text-sm text-lg font-medium;
    }

    .delivery_details p > i{
        @apply bg-primary p-1 rounded;
    }

    .line-break-div{
        @apply  border border-dashed border-gray-500 h-0 max-xs:mb-2 my-4;
    }

    .Change_text{
        @apply max-xs:text-sm xs:text-lg font-medium mb-1 sm:ml-auto;
    }

    .buttons{
        @apply w-fit max-xs:flex  gap-2 xs:w-full xs:flex xs:justify-end;
    }
    
    .delete_product_btn, .edit_product_btn{
        @apply max-xs:text-sm flex gap-1 bg-yellow-400 max-sm:p-[.3rem_.4rem] sm:p-[.3rem_1rem] rounded text-lg font-semibold transition-all duration-200 hover:shadow-md shadow-yellow-200;
    }

    .delete_product_btn{
        @apply bg-red-400 hover:shadow-md shadow-red-200;
    }

    .text_lines{
        @apply h-7 rounded bg-gray-200 my-2 animate-pulse;
    }

    .line-1{
        @apply mt-4 w-[50%];
    }

    .line-2{
        @apply w-[70%];
    }

    .line-3{
        @apply w-[40%];
    }

    .line-4{
        @apply w-[30%];
    }

    .line-5{
        @apply mt-4 h-3 w-[90%];
    }

    /* =================================== FOOTER SECTION REUSABLE CLASSES ======================================== */
    .social_link{
        @apply text-3xl text-gray-500 transition-colors hover:text-[#65DCD5] duration-200;
    }
}